@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../../styles/Fonts/Inter/Inter-Regular.woff2") format("woff2"),
       url("./../../styles/Fonts/Inter/Inter-Regular.woff") format("woff");
}

.page {
  background-color: #2A2C2F;   /*.page is a <div> and <div> have display:block by default */
  color: white;
  font-family: 'Inter', sans-serif, Arial;
  margin: 0 auto;   /* this ensures that all content is centered on screens wider than 1600px */
  max-width: 1600px;
}


/*
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */ /*
}
*/


