.places__link {
  color:#FFFFFF;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 1.22; 
}

.places__link:hover {
  opacity: 0.5;
}

/* Smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .places__link {
    display: none;
  }
}