.places__subheading {
  color: #AAAAAA;
  letter-spacing: 0.2em;
  text-align: 0;
  font-size: 12px;
  line-height: 1;
}

/* Smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .places__subheading {
    display: none;
  }
}