.lead__subtitle {
  width: 63%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* Smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
  .lead__subtitle {
    font-size: 16px;
  }
}

/* Smartphone 2 */
@media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
  /* Styles */
}

  /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
  /* Styles */
}

/* Desktop common */
@media only screen and (min-width : 1024px) and (max-width : 1279px) {
  /* Styles */
}
  
/* Desktop ;arge */
@media only screen and (min-width : 1280px) {
  /* Styles */
}
  