.lead__subtitle {
  width: 63%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* Smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .lead__subtitle {
    font-size: 16px;
  }
}
  